.facets {
  background-color: var(--stanford-fog-light);
  border-radius: 4px;
  padding-block-end: 4px;

  .facets-heading {
    font-size: 1.75rem;
    padding-top: 0.5rem;
    padding-inline-start: 0.5rem;
  }
  .card {
    /* --bs-card-border-radius: 0; */
    --bs-border-radius: 0;
    --bs-card-bg: transparent;
    --bs-card-cap-bg: transparent;
    border-inline: none;
    border-block-end: none;

    .facet-select {
      color: var(--bs-body-color);
    }

    &.facet-limit-active {
      --bs-card-cap-bg: color-mix(
        in srgb,
        var(--stanford-70-black) 10%,
        transparent
      );

      .selected {
        font-weight: bold;
      }
    }
    .card-header {
      --bs-card-border-width: 0;
    }
  }
}
