.selected-item {
  --bs-badge-color: black;
  --bs-badge-font-size: var(--bs-body-font-size);
  --bs-badge-font-weight: var(--bs-body-font-weight);
  --bs-badge-padding-y: 0;
  --bs-badge-padding-x: 0.65em;
  gap: 0.35rem;
  display: inline-flex;

  .selected-item-label {
    border-inline-end: var(--bs-border-width) var(--bs-border-style)
      var(--bs-border-color);
    line-height: 1.45em;
    padding-block: 0.1rem;
    padding-inline-end: 0.45em;
    text-wrap: nowrap;
  }

  .btn-close {
    align-self: center;
    font-size: 0.6rem;

    &:hover {
      --bs-btn-close-color: var(--stanford-digital-red);
      background: var(--bs-btn-close-color);
      mask-image: var(--bs-btn-close-bg);
    }
  }
}
