.bg-stanford-black {
  background-color: var(--stanford-black);
}

.bg-stanford-digital-red {
  background-color: var(--stanford-digital-red);
}

.bg-stanford-digital-green {
  background-color: var(--stanford-digital-green);
}

.bg-poppy-dark {
  background-color: var(--stanford-poppy-dark);
}