<div class="header-icons d-flex gap-3">
  <% @fields.each do |field| %>
    <% icon, label = get_icon(field) %>
    <% if label %>
      <div class="header-icon d-flex gap-1 align-items-center">
        <%= icon %>
        <span class="label"><%= label.upcase %></span>
      </div>
    <% end %>
  <% end %>
</div>
