<div class="header-icons">
  <% @fields.each do |field| %>
    <% icon, label = get_icon(field) %>
    <% if label %>
      <%= icon %>
      <span class="me-1"><%= label.upcase %></span>
    <% end %>
  <% end %>
</div>