<div id="topnav-container">
  <div class='container'>
    <header id="topnav" class="header-logo" role="banner">
      <%= link_to 'http://library.stanford.edu' do %>
      <%= content_tag :span, "Stanford University Libraries", class: "sr-only" %>
      <%= image_tag "sul-logo.png", class: "hidden-xs", alt: "", height: 25 %>
      <%= image_tag "sul-logo-small.png", class: "visible-xs", alt: "", height: 25 %>
      <% end %>
    </header>
  </div>
</div>