<div role="alert" class="alert alert-<%= type %> d-flex shadow-sm align-items-center">
  <% if title %><div class="fw-semibold"><%= title %></div><% end %>
  <div class="bi <%= icon %> fs-3 me-3 align-self-center
              d-flex justify-content-center"></div>
  <div class="text-body">
    <div><%= body %></div>
  </div>
</div>