<h2 class="h4">Also available at</h2>
<div>
    <ul class="list-unstyled">
        <% document.also_available_links.each do |label, url| %>
            <li><%= link_to label, url %></li>
        <% end %>
    </ul>
</div>
