# Configurable Logo Used for CartoDB export
APPLICATION_LOGO_URL: 'http://geoblacklight.org/images/geoblacklight-logo.png'

BING_SITE_VERIFICATION: '4E61263975C6ABBF2ECE5A8CA5E592B7'

# CartoDB OneClick Service https://cartodb.com/open-in-cartodb/
CARTODB_ONECLICK_LINK: 'http://oneclick.cartodb.com/'

EMAIL_TO: 'fake-email@example.com'

#Main Solr geometry field used for spatial search and bounding box. Should be type 'rpt'
GEOMETRY_FIELD: 'solr_geom'

#Solr field mappings
FIELDS:
  :FILE_FORMAT: 'dc_format_s'
  :GEOMETRY: 'solr_geom'
  :WXS_IDENTIFIER: 'layer_id_s'
  :RIGHTS: 'dc_rights_s'
  :PROVENANCE: 'dct_provenance_s'
  :GEOM_TYPE: 'layer_geom_type_s'
  :SPATIAL_COVERAGE: 'dct_spatial_sm'
  :SUBJECT: 'dc_subject_sm'
  :REFERENCES: 'dct_references_s'
  :YEAR: 'solr_year_i'
  :CREATOR: 'dc_creator_sm'
  :DESCRIPTION: 'dc_description_s'
  :PUBLISHER: 'dc_publisher_s'
  :PART_OF: 'dct_isPartOf_sm'
  :TEMPORAL: 'dct_temporal_sm'
  :TITLE: 'dc_title_s'
  :SOURCE: 'dc_source_sm'

GEOMONITOR_TOLERANCE: 0.8
GOOGLE_ANALYTICS_ID: 'UA-XXXXX-X'
GOOGLE_SITE_VERIFICATION: 'I1DQ46tUnPOrYpnhDUsy5tOL22oywWb2LyUTwT8M-HU'
HOSTNAME: 'HOST'
HOST_URL: 'http://www.example.com'
INSTITUTION: 'Stanford'

# Metadata shown in tool panel
METADATA_SHOWN:
  - 'fgdc'
  - 'iso19139'
  - 'mods'

NEWRELIC_APP_NAME: 'should be specific to stage and prod'
NEWRELIC_LICENSE_KEY: 'this is private'
NEWRELIC_ENABLED: false

PROXY_URL: 'http://www.example.com/restricted'

RESTRICTED_URL: 'http://www.example-services.com'

SOLR_COMMIT_WITHIN: 5000

# (For external Download) timeout and open_timeout parameters for Faraday
TIMEOUT_DOWNLOAD: 16

# (For WMS inspection) timeout and open_timeout parameters for Faraday
TIMEOUT_WMS: 4

# Web services shown in tool panel
WEBSERVICES_SHOWN:
  - 'wms'
  - 'wfs'

WMS_PARAMS:
  :SERVICE: 'WMS'
  :VERSION: '1.1.1'
  :REQUEST: 'GetFeatureInfo'
  :STYLES: ''
  :SRS: 'EPSG:4326'
  :EXCEPTIONS: 'application/json'
  :INFO_FORMAT: 'text/html'

# Settings for leaflet
OPACITY_CONTROL: &opacity_control
  CONTROLS:
    - 'Opacity'

LEAFLET:
  MAP:
  LAYERS:
  VIEWERS:
    WMS:
      <<: *opacity_control
    TILEDMAPLAYER:
      <<: *opacity_control
    FEATURELAYER:
      <<: *opacity_control
    DYNAMICMAPLAYER:
      <<: *opacity_control
    IMAGEMAPLAYER:
      <<: *opacity_control
