<div class='mt-4 mb-4'>
  <div class='row'>
    <div class='col-sm'>
    <%= render Blacklight::SearchBarComponent.new(
        url: search_action_url,
        advanced_search_url: search_action_url(action: 'advanced_search'),
        params: search_state.params_for_search.except(:qt),
        autocomplete_path: suggest_index_catalog_path
      ) %>
    <hr>
    <%= render Earthworks::RecentlyAddedList.new(term: 'Datasets') %>
    <hr>
    <%= render Earthworks::RecentlyAddedList.new(additional_fq: '-gbl_resourceClass_sm: Datasets', term: 'Maps') %>
    </div>
    <div class='col-sm'>
      <%= render(Geoblacklight::LocationLeafletMapComponent.new(page: 'home', geosearch: { dynamic: false })) %>
    </div>
  </div>
</div>