<% document ||= @document %>
<% document_unavailable = document_unavailable_options(document).uniq %>

<% if document_unavailable.any? %>
  <div class='alert alert-warning unavailable-warning'>
    <%= blacklight_icon 'exclamation-triangle' %>
    <%= t('earthworks.unavailable_html', institution: document.institution, email: document.contact_email, department: document.department ) %>
  </div>
<% end %>
