<% document ||= @document %>

<% unless (document_available? || document.stanford? || document.restricted?) %>
  <div class='alert alert-warning unavailable-warning'>
    <i class='fa fa-exclamation-triangle'></i>This data is hosted by <strong><%= document[:dct_provenance_s] %></strong>, and is currently unavailable to view or download. If you have questions about this or other unavailable datasets please submit this as 
    <%= link_to feedback_path, data: { toggle: 'collapse', target: '#feedback-form' } do %>
    feedback
    <% end %>.
  </div>
<% end %>