<% document ||= @document %>
<% document_unavailable = document_unavailable_options(document).uniq %>

<% if document_unavailable.any? %>
  <div class='alert alert-warning unavailable-warning'>
    <%= blacklight_icon('exclamation-triangle') %>
    <% email = document.contact_email ? document.contact_email : Settings.INSTITUTION_EMAIL %>
    <%= t('earthworks.unavailable_html', institution: document.institution, email:, department: document.department) %>
  </div>
<% end %>
