<% 
  # Map documents by resource class, and also retrieve locations
  data_results = @autoresults.documents.select { |doc| doc['gbl_resourceClass_sm'].include?('Datasets') }
  map_results = @autoresults.documents.select { |doc| doc['gbl_resourceClass_sm'].include?('Maps') }
  # Location facet values
  location_facet = @autoresults['facet_counts']['facet_fields']['dct_spatial_sm']
  location_vals = location_facet.each_slice(2).to_a.map{ |lf| lf[0] }
%>
Locations
<%
  l_num = location_vals.length > 3 ? 3: location_vals.length
  location_vals.first(l_num).each do |loc|
%>
  <li role="option" class="dropdown-item"><span><%=loc%></span></li>
<%
  end
%>
Datasets
<%
  d_num = data_results.length > 3 ? 3: data_results.length
  data_results.first(d_num).each do |doc|
%>
  <li role="option" class="dropdown-item"><span><%=doc["dct_title_s"]%></span></li>
<%
  end
%>
Maps
<%
  m_num = map_results.length > 3 ? 3: map_results.length
  map_results.first(m_num).each do |doc|
%>
  <li role="option" class="dropdown-item"><span><%=doc["dct_title_s"]%></span></li>
<%
  end
%>