.panel-title a {
  text-decoration: none;
}

// Offsets setup for success color contrast threshold
.facet-limit-active .card-header .btn {
  color: #ffffff !important;
}

.facet-values li .selected {
  color: #00795d !important;
}
