.feedback-form {
  margin-top: 1rem;

  .col-form-label {
    text-align: right;
  }

  .btn-primary {
    background-color: $cardinal-red;
    border: 0;
  }
  .btn-link {
    color: $primary;
  }
}
