#header-navbar {
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .2);

  .navbar-brand {
    background-position: center;
    background-size: contain;
    flex: 0 0 175px;
    height: auto;
  }
}

.nav.navbar-nav > li > a {
  text-transform: uppercase;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

#search-navbar {
  .container {
    padding-left: 0;
  }

  .input-group {
    @extend .flex-nowrap;
  }
  button.search-btn {
    display: inline-flex;

    .blacklight-icons svg{
      height: 1.5rem;
      left: .125rem;
      line-height: 1.5rem;
      top: .075rem;
      width: 1.5rem;
    }
  }
}
