#header-navbar {
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .2);

  .navbar-brand {
    background: transparent;
    padding: 22px 0 10px 15px;
    width: 236px;
    
    img {
      height: 28px;
      margin-right: 10px;
      vertical-align: middle;
      @media screen and (max-width: $screen-sm) {
        height: 26px;
      }
    }
  }
}

.nav.navbar-nav > li > a {
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  text-transform: uppercase;
  
  &:hover,
  &:focus {
    border-bottom: 2px solid white;
  }
}