.search-block {
  .input-group {
    @extend .flex-nowrap;
  }

  input.search-q {
    @extend .form-control-lg;
  }

  button.search-btn {
    @extend .btn-lg;
    display: inline-flex;
    
    .blacklight-icons,
    .blacklight-icons svg {
      height: 1.5rem;
      left: .225rem;
      line-height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.home-page-linked-searches {
  .panel-body {
    padding: 0;
  }

  h3 {
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px;
    padding-left: 15px;
  }

  img {
    width: 100%;
  }
}
