.search-block {
  h2 {
    font-weight: 300;
  }

  input.search_q {
    @extend .input-lg;
  }

  button.search-btn {
    @extend .btn-lg;
  }
}

.home-page-linked-searches {
  .explore {
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
  }

  .panel-body {
    padding: 0;
  }

  h3 {
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px;
    padding-left: 15px;
  }

  img {
    width: 100%;
  }
}
