@mixin homepage-image-border {
  border: 2px solid rgba(46, 45, 41, 0.1);
}

.jumbotron {
  border: 1px solid $gray-80-percent;
  padding: 2rem 2rem;

  h2 {
    margin-bottom: 20px;
  }
}

.search-block {
  .input-group {
    @extend .flex-nowrap;
  }

  input.search-q {
    @extend .form-control-lg;
  }

  button.search-btn {
    @extend .btn-lg;
    display: inline-flex;

    .blacklight-icons,
    .blacklight-icons svg {
      height: 1.5rem;
      left: .225rem;
      line-height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.home-page-linked-searches {
  .panel-body {
    padding: 0;
  }

  h3 {
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
  }

  img {
    @include homepage-image-border;
    width: 100%;
  }
}

.section-heading {
  margin-top: 36px;
}

#map {
  @include homepage-image-border;
}
