.leaflet-container {
  background: $beige-10-percent;
  
  // Needed to overwrite a font set by Leaflet-Rails
  font-family: 'Source Sans Pro', sans-serif;
}

// Style all but the index map
[data-map="home"], [data-map="index"], [data-map="item"]:not([data-protocol="IndexMap"]) {
  .leaflet-overlay-pane g path {
    fill: $cardinal-red;
    stroke: $cardinal-red;
  }
}
