dd[itemprop='url'] a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

// GeoBlacklight padding/margin overrides (sets back to Boostrap default)
.show-tools .list-group {
  padding-bottom: 0;
  padding-top: 0;
}

.exports {
  margin: 0;

  .list-group {
    padding-bottom: 0;
    padding-top: 0;
  }
}

// Paragraph margins for description field
.blacklight-dct_description_sm p {
  margin-bottom: 0.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

// Move the index map legend to make space for "Embedded Content" text
.index-map-legend {
  left: unset;
}

// Styles for Mirador viewer (non-stanford IIIF content)
#mirador {
  width: 100%;
  min-height: 493px;
}

// Styles for code snippet

/*
.code-snippet-tab {
  color:$primary;
}

.code-snippet-tab.nav-link.active {
  color:$primary;
}

.code-snippet-tab.active {
  text-decoration: underline !important;
  text-decoration-color: $primary !important;
}
  */

.code-snippet-content {
  background-color: #f4f4f4 !important;
  font-size: 1.2em;
}

.code-snippet-tab {
  color: $primary;
  font-size: 1.5rem;

  &.active {
    color: $primary;
    text-decoration: underline !important;
    text-decoration-color: $primary !important;
  }

  &.nav-link.active {
    color: $primary;
  }
}

.bd-clipboard {
  position:relative;
  float:right;
}

.btn-clipboard{
  background-color: white !important;

  &:active, &:hover, &:focus {
    color: #00548F !important;
    border-color: #00548F !important;
  }
}