#su-content {
  padding-bottom: 200px !important;
}

#sul-footer-container {
  background-color: $sul-footer-bg-color;
  -webkit-box-shadow: 0 4px 8px -8px rgba(0, 0, 0, .2) inset;
  box-shadow: 0 4px 8px -8px rgba(0, 0, 0, .2) inset;
  clear: both;
  margin-top: -200px;
  min-height: 200px;
  padding: 0 !important;
  position: relative;  
	width: 100%;
}

#sul-footer {
  @extend .container;
  display: table;
  height: 80px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin: 0 13px 3px 0;
      padding: 0;
		}
	}

  li a {
    white-space: nowrap;
	}
}

#sul-footer-img {
  display: table-cell;
  vertical-align: middle;
  width: 162px;
}

#sul-footer-links {
  display: table-cell;
  font-size: small;
  padding-left: 15px;
  text-align: left;
  vertical-align: middle;
}

#global-footer {
  max-width: 100%;

  p {
    max-width: 100%;
	}

  #bottom-text {
    margin-right: 6px;
	}
}
