$stanford-footer-height: 250px;
$stanford-footer-md-height: 140px;
$sul-footer-height: 80px;

#su-content {
  height: 100%;
  padding-bottom: $stanford-footer-height + $sul-footer-height !important;

  @media (min-width: 768px) {
    padding-bottom: $stanford-footer-md-height + $sul-footer-height !important;
  }
}

#sul-footer-container {
  background-color: $sul-footer-bg-color;
  -webkit-box-shadow: 0 4px 8px -8px rgba(0, 0, 0, .2) inset;
  box-shadow: 0 4px 8px -8px rgba(0, 0, 0, .2) inset;
  clear: both;
  margin-top: -1 * ($stanford-footer-height + $sul-footer-height);
  min-height: $stanford-footer-height + $sul-footer-height;

  @media (min-width: 768px) {
    margin-top: -1 * ($stanford-footer-md-height + $sul-footer-height);
    min-height: $stanford-footer-md-height + $sul-footer-height;
  }
  padding: 0 !important;
  position: relative;
	width: 100%;
}

#sul-footer {
  @extend .container;
  display: table;
  height: $sul-footer-height;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin: 0 13px 3px 0;
      padding: 0;
		}
	}

  li a {
    white-space: nowrap;
	}
}

#sul-footer-img {
  display: table-cell;
  vertical-align: middle;
  width: 162px;
}

#sul-footer-links {
  display: table-cell;
  font-size: small;
  padding-left: 15px;
  text-align: left;
  vertical-align: middle;
}

#global-footer .container {
  box-sizing: border-box !important;
}
