#topnav-container {
  padding: 2px 0;
  position: relative;
}

#topnav {
  background: none;
  border: 0;
  height: 29px;
  margin-bottom: 0;
  padding: 2px 0;
  
  a img {
    float: left;
  }
  
  .topnav-links {
    float: right;
    margin-top: 2px;
    position: relative;
  }

  .navbar-nav {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  ul.navbar-nav > li {
    display: inline;
    
    a {
      color: $cardinal-red;
      text-decoration: none;
      
      &:hover,
      &:focus {
        border-bottom: 2px solid $cardinal-red;
      }
    }

    & > a {
      padding: 0;
    }
  }

  .login-dropdown {
    z-index: 10000;
    
    li a {
      &:hover,
      &:focus {
        color: $dropdown-link-hover-color;
      }
    }
  }

  .nav-element-divider {
    color: $cardinal-red;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: $screen-xs-max) {
  #topnav {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
