.twitter-typeahead {
  float: left;
  width: 100%;
  z-index: 1001;
  
  .tt-input.form-control {
    width: 100%;
  }
  
  .tt-hint.form-control {
    width: 100%;
  }

  .tt-menu {
    @extend .dropdown-menu;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; 
    
    width: 100%;

    .tt-suggestion{
      font-size: 14px;
      padding-left: 10px;
    }
    
    .tt-cursor {
      background-color: $dropdown-link-hover-bg;
      color: $dropdown-link-hover-color;
      text-decoration: none;
    }
  }
}
