<li class="download">
  <%= link_to url, data: @data do %>
  <span class="title"><%= title %></span>
  <% if file_type.present? %><span class="format">(<%= file_type %>)</span><% end %>
  <% end %>
</li>
