:root {
  --stanford-50-black: #979694;
}

/* Selects both #main-content and navbar containers */
#main-container, .navbar-search > * {
  max-width:  1600px;
  padding: 0 60px;
}

.header-icons {
  color: var(--stanford-50-black);
  font-size: .875rem;
  line-height: 1.125rem;
}

.header-icons .blacklight-icons, .header-icons .blacklight-icons svg {
  height: .875rem;
  width: .875rem;
}

.palo-alto-base {
  --bs-dark-rgb: 23, 94, 84;
}

.home-header .blacklight-icons, .home-header .blacklight-icons svg {
  height: 1.5rem;
  width: 1.5rem;
}

.home-tab {
  margin-left: 2.3rem;
}

.component-container .card, .component-container .card-header, .component-container .card-body, .component-container .list-group, .component-container .list-group-item {
  background-color: inherit;
  border: none!important;
  padding: 0px!important;
  margin: 0px!important;
}

.component-container .card-header, .blacklight-catalog-show .page-sidebar .card-header h2 {
  font-size: calc(1.275rem + 0.3vw);
}

.component-container li a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

.component-container, .card.relations {
  --bs-border-radius: 4px;
  padding: 1.5rem 1rem;
}
.authentication {
  text-align:center;
}

.bg-fog-light {
  background-color: var(--stanford-fog-light);
}

.card.relations, .card.relations > * {
  border: none!important;
  --bs-list-group-bg: var(--stanford-fog-light);
  background-color: var(--stanford-fog-light);
  --bs-list-group-item-padding-y: 5px;
  --bs-list-group-item-padding-x: 0px;
  --bs-card-cap-padding-y: 0px;
  --bs-card-cap-padding-x: 0px;
}

.authentication .btn {
  --bs-btn-bg: var(--stanford-cardinal)!important;
  --bs-btn-border-color: var(--stanford-cardinal)!important;
  --bs-btn-hover-bg: var(--stanford-digital-red-dark)!important;
  --bs-btn-hover-border-color: var(--stanford-digital-red-dark)!important;
  --bs-btn-active-bg: var(--stanford-digital-red-darker)!important;
  --bs-btn-active-border-color: var(--stanford-digital-red-darker)!important;
}

.blacklight-icons-stanford svg path {
  fill: var(--stanford-cardinal);
}

.blacklight-icons-restricted svg path {
  fill: var(--stanford-digital-red)
}

.documents-list article:hover, .documents-list article:focus {
  box-shadow: -4px 4px 4px 0px var(--stanford-fog-light);
}

.search-widgets .btn {
  --bs-btn-font-size: .875rem;
  --bs-border-radius: 4px;
  --bs-btn-padding-x: 6px;
  --bs-btn-padding-y: 2px;
  --bs-btn-line-height: 1;
  height: 1.6rem;
  align-self: center;
}

.sort-pagination, .pagination-search-widgets {
  padding-bottom: .5rem;
  border-bottom: 2px solid var(--bs-border-color);
}

.search-q {
  padding-left: 2rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0'/%3E%3C/svg%3E") no-repeat left;
  background-size: 1.5rem;
  outline: none;
}

.input-group > .search-autocomplete-wrapper {
  border: none;
}

.search-query-form, .navbar-search .search-query-form{
  border: 1px solid #ABABA9;
  padding: .5rem;
  border-radius: .25rem;
}

.search-query-form input:focus {
  box-shadow: none;
}
.search-query-form .search-btn {
  border-radius: .25rem!important;
}

/* TODO: when we get a new blacklight release (v8.3.1)
Remove file app/components/blacklight/icons/search_component.rb
Remove lines 138-140
Uncomment lines 142-144
*/

.search-query-form .search-btn .blacklight-icons-search {
  width: auto;
}

/* .search-query-form .search-btn .blacklight-icons-search {
  display: none;
} */