//Colors
$beige: #9d9573;
$beige-10-percent: #f2f1eb;
$beige-20-percent: #e9e6df;
$beige-30-percent: #e3dfd5;
$beige-40-percent: #d5d0c0;
$beige-5-percent: #fbfbf9;
$black: #2e2d29;
$cardinal-red: #8c1515;
$dark-red: #820000;
$gray-41-percent: #696969;
$gray-46-percent: #767676;
$gray-60-percent: #8a887d;
$gray-70-percent: #b3b3b3;
$gray-80-percent: #ccc;
$gray-90-percent: #565347;
$gray: #3f3c30;
$gray-brown: #81785a;
$pantone-2925: #0098db;
$pantone-334: #009b76;
$pantone-405: #5f574f;
