<div class="navbar-right">
  <ul class="nav navbar-nav">
    <% if has_user_authentication_provider? && current_or_guest_user.present? %>
    <li class='nav-item'>
      <%= link_to bookmarks_path, id:'bookmarks_nav', class: 'nav-link p-0 m-2' do %>
        <%= t('blacklight.header_links.bookmarks') %>
        (<span data-role='bookmark-counter'><%= current_or_guest_user.bookmarks.count %></span>)
      <% end %>
    </li>
    <% end %>
    <li class='nav-item'>
      <%= link_to t('blacklight.header_links.search_history'), blacklight.search_history_path, class: 'nav-link p-0 m-2' %>
    </li>
  </ul>
</div>
